# Abaikan semua
/*

# Kecualikan project
!MCU_CCO_CKP/
!MCU_CCO2_CKP/
!MCU_NEMA_CKP/
!KWH_EC25_V1c/

# Izinkan isi folder tersebut
!MCU_CCO_CKP/**
!MCU_CCO2_CKP/**
!MCU_NEMA_CKP/**
!KWH_EC25_V1c/**

# Abaikan folder Debug hasil kompilasi
MCU_CCO_CKP/Debug/
MCU_CCO2_CKP/Debug/
MCU_NEMA_CKP/Debug/
KWH_EC25_V1c/Debug/

# Tetap izinkan .gitignore
!.gitignore
