# Abaikan file hasil build/debug
!MCU_CCO_CKP/
!MCU_CCO2_CKP/
!MCU_NEMA_CKP/
!MCU_CCO_CKP/**
!MCU_CCO2_CKP/**
!MCU_NEMA_CKP/**

# Abaikan folder Debug hasil kompilasi
MCU_CCO_CKP/Debug/
MCU_CCO2_CKP/Debug/
MCU_NEMA_CKP/Debug/

!.gitignore